.heading {
  color: red;
  font-size: 20px;
}

.mainContent {
  margin: auto;
  width: 100%;
  margin-top: 140px;
  display: flex;
  flex-flow: row wrap;

}

.titleContent {
  display: flex;
  flex-flow: column wrap-reverse;
}

.productTitle {

}

.productImage img {
  height: 100px;
  width: 120px;
}

.textContent {
  display: flex;
  flex-flow: column;
}

.content1 {
  color: green;
  background-color: red;
  width: 300px;
}

.content2 {
  color: yellow;
  background-color: brown;
  width: 300px;
}

.content3 {
  color: blue;
  background-color: silver;
  width: 300px;
}
